OPENSKY_ID = your_opensky_id
OPENSKY_SECRET = your_opensky_secret
WEBHOOK_URL = your_discord_webhook_url
TRAINING_MODE = True or False (set to True for including Training Flights, False for excluding Training Flights)